body {
    font-family: Arial, sans-serif;
  }
  
  h1, h2, h3 {
    text-align: center;
  }
  
  #login, #register, #donorDashboard, #receiverDashboard {
    width: 80%;
    margin: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input, button, select {
    margin: 5px;
    padding: 10px;
    font-size: 1em;
    width: 80%;
  }
  
  button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  canvas {
    margin: 20px auto;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background: #f9f9f9;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  li button {
    margin-left: 10px;
    background-color: #f44336;
  }
  
  li button:hover {
    background-color: #e53935;
  }
  
  #map {
    margin: 20px auto;
  }
  